@model HW.Models.Employee
@using HW.Models

@{
    ViewBag.Title = "AddEmp";
}


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<h2>Edit @Model.FirstName @Model.LastName shifts</h2>
@using (Html.BeginForm("SubmitAdd", "Manager", FormMethod.Post))
{




    <div>
        Sunday
        @Html.CheckBoxFor(m => Model.Sun)
    </div>

    <div>
        Monday
        @Html.CheckBoxFor(m => Model.Mon)
    </div>
    <div>
        Tuesday
        @Html.CheckBoxFor(m => Model.Tue)
    </div>
    <div>
        Wednesday
        @Html.CheckBoxFor(m => Model.Wed)
    </div>
    <div>
        Thursday
        @Html.CheckBoxFor(m => Model.Thu)
    </div>
    <div>
        Friday
        @Html.CheckBoxFor(m => Model.Fri)
    </div>
    <div>
        Saturday
        @Html.CheckBoxFor(m => Model.Sat)
    </div>


    <br />
    <div class="form-group">
        <input id="Submit1" type="submit" value="Save Changes" class="btn btn-primary" />
    </div>
}

