@model HW.Models.Manager

@{
    ViewBag.Title = "ManagMenu";
}
<br />
<h2>Welcome @Model.FirstName @Model.LastName!</h2>
<br />

@Html.ActionLink("Add new employee", "AddEmp", "Manager", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
<br />
<br />

@Html.ActionLink("Edit employees Shifts", "EditShifts", "Manager", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
<br />
<br />
@Html.ActionLink("Show all shifts", "ShowShifts", "Manager", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
<br />
<br />

