@{
    ViewBag.Title = "AdminTools";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Tools</title>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <h1><strong>Administrator Tools</strong></h1>
    <br /><br /><br /><br /><br />
                            <div>
                                @using (Html.BeginForm("SubmitAdminLogin", "User", FormMethod.Post))
                                {
                                    <h2>
                                        <strong>
                                            To manage list of users, click @Html.ActionLink("Here", "ManageUsers", "User", null)
                                            <br /><br />
                                            To add an administrator user, click @Html.ActionLink("Here", "AddAdmin", "User", null)
                                            <br /><br />
                                            To manage list of products, click @Html.ActionLink("Here", "ManageProducts", "Shop", null, null)
                                            <br /><br /><br />
                                            To see list of Reports, click @Html.ActionLink("Here", "ShowComplaints", "User", null, null)
                                            <br /><br />
                                            To see list of Reviews, click @Html.ActionLink("Here", "ShowReviews", "User", null, null)
                                        </strong>
                                    </h2>
                                }
                                <br /><br /><br /><br /><br />
                            </div>
</body>
</html>
