@model MVCProject.Models.User

@using MVCProject.Models
@{
    ViewBag.Title = "User Login";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Login</title>

</head>
<body>
    <h2>Login</h2>
    <br />
    <div>
        @using (Html.BeginForm("SubmitLogin", "User", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Username: </td>
                    <td> @Html.TextBoxFor(m => m.username)</td>
                    <td>@Html.ValidationMessageFor(x => x.username)</td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td> @Html.PasswordFor(m => m.password)</td>
                    <td>@Html.ValidationMessageFor(x => x.password)</td>
                </tr>
            </table>
            <br />
            <h4 style="color:red">@TempData["LoginStatus"]</h4>
            <br />
            <input id="SubmitLogin" type="submit" value="Login" />
        }
        <br /><br />
        <IMG SRC="https://cdn140.picsart.com/283134133010201.gif?c256x256" />
    </div>
</body>
</html>
