@model HW.Dal.EmployeeDal
@using HW.Models


<table class="table" id="empTable">
    <tr>
        <td><b>First Name</b></td>
        <td><b>Last Name</b></td>
        <td></td>
        <td>Sunday</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wenesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td></td>
    </tr>
    @foreach (Employee emp in Model.Employees.ToList())
    {
        <tr>
            <td>@emp.FirstName</td>
            <td>@emp.LastName</td>
            <td></td>
            <td>@Html.CheckBoxFor(m => emp.Sun, new { @disabled = "disabled" })</td>
            <td>@Html.CheckBoxFor(m => emp.Mon, new { @disabled = "disabled" })</td>
            <td>@Html.CheckBoxFor(m => emp.Tue, new { @disabled = "disabled" })</td>
            <td>@Html.CheckBoxFor(m => emp.Wed, new { @disabled = "disabled" })</td>
            <td>@Html.CheckBoxFor(m => emp.Thu, new { @disabled = "disabled" })</td>
            <td>@Html.CheckBoxFor(m => emp.Fri, new { @disabled = "disabled" })</td>
            <td>@Html.CheckBoxFor(m => emp.Sat, new { @disabled = "disabled" })</td>
            <td></td>
        </tr>

    }
</table>
